body {
  background-color: rgb(48, 33, 33);
  font-family: 'Anton', sans-serif;
}

header{
  width: 100%;
  height: 100px;
  background-color: #fbf4f4;

}

h1{
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  font-size: 3rem;
}

ul{
  width:auto;
  float: right;
  margin-top: 8px;
}

li{
  font-size: 2rem;
  display: inline-block;
  padding: 15px 30px;
}

a{
  text-align: center;
  font-size: 1.2vw;
}
main{
  margin: 20px auto;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 80%;
  border: 20px solid #fff;
  max-width: 1000px;
  
}

.blog{
  margin-bottom: 20px;
}
.date{
  color:#fff;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.paragraph{
  border-left: 5px solid #2370a5;
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
}

h2{
  font-size: 2rem;
  color: #fff;
}

hr{
  border: 0;
  height: 0;
  border-top: 0.5rem solid #fff;
  border-bottom: 1px solid #fff;
}

p{
  color: #fff;
  font-weight: 100;
}
img{
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}