body {
  text-align: center;
  background-color: blanchedalmond;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 100px;
  margin-top: -10px;
}
.p_technical{
  font-size: 30px;
  text-align: center;
  margin-top: -30px;
}
section{
  text-align: left;
  margin-left: 50px;
  margin-top: 40px;
  font-size: 50px;
}
nav {
  text-align: left;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}